<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tarena.dao.RoleMapper">
	<!-- 查询结果与对象的映射 -->
	<resultMap type="Role" id="roleMap">
		<id property="id" column="role_id" />
		<result property="name" column="role_name" />
	</resultMap>

	<!--模糊查询 角色数量 -->
	<select id="getCount" parameterType="java.lang.String"
		resultType="java.lang.Integer">
		select count(role_id)
		from t_role
		where role_name like
		#{roleKW}
	</select>
	<!--分页查询 -->
	<select id="getRoles" parameterType="Page" resultMap="roleMap">
		select
		role_id,role_name
		from t_role
		where role_name like
		#{roleKW}
		limit
		#{begin},#{pageSize}
	</select>

	<!-- 新增角色 -->
	<insert id="addRole" parameterType="Role">
		insert into t_role
		values(#{id},#{name})
	</insert>
	<!--更新角色表 -->
	<update id="updateRole" parameterType="Role">
		update t_role set
		role_name=#{name} 
		where role_id=#{id}
	</update>
	
	<!--删除角色  -->
	<delete id="delRole" parameterType="java.lang.String">
	delete from  t_role where role_id=#{id}	
	</delete>
	
	
	
</mapper>